@font-face {
	font-family: "TeleGrotesk Halb";
	src: url("fonts/telegrotesk-halb.ttf") format("truetype");
}

@font-face {
	font-family: "TeleGrotesk Reg";
	src: url("fonts/telegrotesk-reg.ttf") format("truetype");
}

@font-face {
	font-family: "TeleGrotesk Bold";
	src: url("fonts/telegrotesk-bold.ttf") format("truetype");
}



.fuel-price-info {
	text-align: center;
}	
	
.fuel-price-info .price {
	font-size: 23px;
	font-family: 'TeleGrotesk Bold';
}

.infobox {
	color: #fff;
	font-family: 'TeleGrotesk Reg';	
}

.info-content-box {
	padding-bottom: 17px;
    background: url(toolTipNose.png) no-repeat bottom center;
}

.info-content-box-inner {
	background: black;
	-webkit-border-radius: 5px;
	width: 200px;
	height: 50px;
	padding: 10px 10px 0 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.4);	
}

.info-content-box-inner div {
	padding-right: 55px;
}

.info-content-box-inner h2 {
	margin: 0;
	font-family: 'TeleGrotesk Bold';
	font-size: 18px;
}

.info-content-box-inner p {
	margin: 0;
}

.info-content-box-inner a.info-icon {
	position: absolute;
	top: 10px; right: 10px;
	background: url(icon_info.png) no-repeat;
	background-size: contain;
	width: 36px;
	height: 36px;	
}

.fuel-price-info {
	background: url(black-transparent-75.png) repeat;
	width: 75px;
	padding: 5px 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.4);
}

#loading-animation {
	position: absolute;
	top: 50%; left: 50%;
	width: 150px;
	z-index: 1;
	padding-left: 30px;
	margin-left: -75px;
}

#loader-icon {
	position: absolute;
	left: 0;
	background: url(ajax-loader.gif);
	background-size: 23px 23px;
	width: 23px; height: 23px;
}